*.swp
*.swo
.local
tmp
RPMS
SRPMS
gui/.tmp
gui/.sass-cache
gui/bower_components
gui/node_modules
gui/scripts.js.map
gui/app/scripts/views/*.html
bin
.classpath
target
.metadata/
RemoteSystemsTempFiles/
eclimd.log
Session.vim
.project
.settings/
.ropeproject
.agignore
