*.swp
*.swo
.local
tmp
RPMS
SRPMS
source/gui/.tmp
source/gui/.sass-cache
source/gui/bower_components
source/gui/dist
source/gui/node_modules
source/gui/scripts.js.map
source/gui/app/scripts/views/*.html
source/proxy/smartproxy/bin
source/proxy/smartproxy/.classpath
source/proxy/smartproxy/target
target
source/proxy/smartproxy/.metadata/
source/proxy/smartproxy/RemoteSystemsTempFiles/
source/proxy/smartproxy/eclimd.log
source/proxy/.metadata/
source/proxy/RemoteSystemsTempFiles/
source/proxy/eclimd.log
Session.vim
.classpath
RemoteSystemsTempFiles
.metadata/
.project
.settings/
eclimd.log
