%define version 1.0.0

Name: redhat-access-plugin-sat5
Version:  %{version}
Release: $release%{?dist}
Summary:  Red Hat Access Plugin for Satellite 5.7
Group:  Applications/System 
License:  MIT
#set $i = 0
#for $artifact in $all_artifacts
Source$i: $artifact
#set $i += 1
#end for
BuildArch: noarch
BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-root-%(%{__id_u} -n)

%description
Red Hat Access Plugin for Satellite 5.7


%prep
#import zipfile
#set $i = 0
#for $artifact in $all_artifacts
   #if $artifact.endswith('-sources.zip')
     #set $sourcezip = zipfile.ZipFile($artifact)
     #set $entry = $sourcezip.namelist()[0]
     #set $source_rootdir = $entry.split('/')[0]
   #if $artifact.endswith('.war')
     #set $war_name = $artifact
   #end if
%setup -q -T -b $i -n $source_rootdir
   #end if
   #set $i += 1
#end for
cp $war_name $source_rootdir


%build
echo `pwd`
echo `ls`


%install
echo `pwd`
echo `ls`


%files
#%config %attr(0644,root,root) /etc/httpd/conf.d/rh-insights-sat5.conf
#%config(noreplace) %attr(0644,tomcat,tomcat) /etc/redhat-access/redhat-access-insights.properties
#%attr(0644,root,root) /etc/redhat-access/rhai.keystore
#%attr(0644,root,root) /var/www/html/javascript/insights.js
#%attr(0644,root,root) /var/www/html/css/insights.css
#%attr(0644,root,root) /usr/share/tomcat6/webapps/redhat_access.war
#%attr(0644,root,root) /usr/share/tomcat6/webapps/rhn/WEB-INF/pages/systems/insights.jsp
#%attr(0644,root,root) /usr/share/tomcat6/webapps/rhn/WEB-INF/pages/systems/sdc/insights.jsp
#%attr(0644,root,root) /usr/share/tomcat6/webapps/rhn/WEB-INF/pages/admin/insights.jsp
#%attr(0755,tomcat,root) /var/log/rhai/
#%attr(0644,tomcat,tomcat) /var/log/rhai/rhai.log


%changelog

* Mon Jun 8 2015 Chris Kyrouac <ckyrouac@redhat.com>
- Version 1
