div.spacewalk-content-nav
  ul.nav.nav-tabs
    li(ng-class='{active: generalTabSelected()}')
      a(href='', ng-click='selectGeneralTab()') General
    li(ng-class='{active: systemsTabSelected()}')
      a(href='', ng-click='selectSystemsTab()') Systems
    li(ng-class='{active: rulesTabSelected()}')
      a(href='', ng-click='selectRulesTab()') Rules
