rha-insights-sat5-alert
div.spacewalk-toolbar-h1
  h1
    i.fa.fa-group
    | Red Hat Insights Configuration
p Configure the Red Hat Insights service below.
rha-insights-sat5-admin-nav
rha-insights-sat5-general-tab(ng-show='generalTabSelected()')
rha-insights-sat5-system-tab(ng-show='systemsTabSelected()')
