div.alert.alert-info(ng-if='isInfo()') {{getMessage()}}
div.alert.alert-warning(ng-if='isWarning()') {{getMessage()}}
div.alert.alert-success(ng-if='isSuccess()') {{getMessage()}}
div.alert.alert-danger(ng-if='isDanger()') {{getMessage()}}
