i.fa.fa-check-circle.fa-1-5x.text-success(ng-show='system_status === "good"')
i.fa.fa-spinner.fa-spin.fa-1-5x(ng-show='system_status === "loading"')
i.fa.fa-question.fa-1-5x(ng-show='system_status === "unknown"')
