div.page-summary
  p Select the systems which will report data to Red Hat Insights. After clicking apply, newly selected systems will be associated with the Red Hat Insights channel and the RPM will be installed on the system. Deselected systems will be removed from the Red Hat Insights channel and the RPM will be uninstalled from the system.
rha-insights-sat5-system-table
