rha-insights-sat5-alert
div.spacewalk-toolbar-h1
  h1
    i.fa.fa-group
    | Red Hat Insights Configuration
p Configure the Red Hat Insights service below. Use the Setup tab to select which systems to enable. Use the Rules tab to hide and show rules. See the&nbsp;
 a(href='https://access.redhat.com/insights/getting-started/satellite/5/') getting started guide
 | &nbsp;for help and the&nbsp;
 a(href='https://access.redhat.com/insights/info/') info page
 | &nbsp;for details on the service.
rha-insights-sat5-admin-nav
div(ng-class='{"insights-main-content": rulesTabSelected()}', ui-view='')
