div.spacewalk-toolbar-h1
  h1(ng-if='SystemOverviewService.tab === "overview"') Red Hat Insights Overview
  h1(ng-if='SystemOverviewService.tab === "setup"') Red Hat Insights Setup
div.wrapper.ng-cloak.main-content(ng-class='{"insights-main-content": isOnOverviewTab()}', ui-view="")
div.row.row-short(ng-if='isOnOverviewTab()')
  div.col-xs-12
    actionbar
